

/* css styles */
 body {
  background-image: url("pics/background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color:white;
}
