/*-- scss:rules --*/

/* Add your existing CSS code below this line */
 body {
  background-image: url("pics/background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color:white;
}

/* Change the color of all links to white */
a:link, a:visited, a:hover, a:active {
  color: #FFFFFF !important;
}
